.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: #fff;
}

.icon-chevronleft_106416 {
  font-size: 3.6em;
  width: (8/16) * 1em;
}
.icon-chevronright_106413 {
  font-size: 3.6em;
  width: (8/16) * 1em;
}
.icon-star_106423 {
  font-size: 1.1em;
  width: (14/16) * 1em;
}
